<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://unpkg.com/vue@next"></script>
    <title>Document</title>
</head>
<body>
    <div id="app">
        <header>

        </header>

        <nav>
            
        </nav>

        <main>
    
            <h1>Create User</h1>

            <form>
                <fieldset>
                    <label>Username</label>
                    <input type="text" v-model="Username">
                </fieldset>
                <fieldset>
                    <label>Password</label>
                    <input type="text" v-model="Password">
                </fieldset>
                <p @click="user()">Create</p>
            </form>

            {{ showData }}
        </main>
        
        <footer>

        </footer>
    </div>    
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/index.js"></script>
    <!-- <script src="js/welp.js"></script> -->
</body>
</html>